
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>Sider Menu Bar CSS</title> -->
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>Menu</header>
  <ul>
<li><a href="{{ '' | absolute_url }}"><i class="fas fa-home"></i>Homepage</a></li>
<li><a href="{{ '/Courses'}}"><i class="fas fa-chalkboard-teacher"></i>Courses</a></li>
<li><a href="{{ '/Special Relativity'}}"><i class="far fa-clipboard"></i>My Notes</a></li>

</ul>
</div>
<section></section>
  </body>
</html>
